<% if stores.any? %>
  <ul class="list-unstyled">
    <% stores.each do |store| %>
      <!-- <li class="media"> --->
        
<!--        <div class="media-body"> --->
          <div>
            <%= store.name %>
          </div>
          <div class ="row">
            <p class = "col-sm-2"><%= link_to 'store情報へ', store_path(store) %></p>
            
        <div class="offset-0","col-sm-2">
          <% if current_user == store.user %>
            <%= link_to "Delete", store, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
          </div>
          
         </div>
            
<!--          </div>
        </div> --->
      </li>
    <% end %>
  </ul>
  <%= paginate stores %>
<% end %>